* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $mobile) {
    width: 280px;
  }
  @media (min-width: $tablet) {
    width: 618px;
  }

  @media (min-width: $desktop) {
    width: 882px;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  background-color: $body-bg;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
